[build]
base = "client"
command = "npm install && npm run build"

[[plugins]]
package = "@netlify/plugin-nextjs"

[functions]
directory = "server/netlify/functions"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/api/:splat"
status = 200
